[apply]
	whitespace = fix
[user]
	name = Vincent de Belleval
	email = 2000db@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	ci = commit
	co = checkout
	st = status
	lg = log --oneline --decorate
[gist]
	browse = yes
	private = no
